<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>

<!-- Theme JS -->
<script src="/assets/js/imagesloaded.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.touchSwipe.min.js"></script>
<script src="/assets/js/jquery.sticky-kit.min.js"></script>
<script src="/assets/js/js_composer_front.min.js"></script>
<script src="/assets/js/sansara-script.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/scripts-pt.js"></script>
<script src="/assets/js/swiper.min.js"></script>
<script src="/assets/js/load-posts.js"></script>