<div class="fc-item" data-title="{{ include.section.title }}">
  <div class="cell cell-container middle">
    <div class="container">
      <div class="wpb_text_column wpb_content_element centered-text-block">
        <div class="wpb_wrapper">
          <p style="text-align: center;">
            <span style="font-weight: 500;">
              <img decoding="async" class="fill-img alignnone wp-image-107 size-full" src="{{ include.section.camera_image }}" alt="" width="146" height="128" />
            </span>
          </p>
          <p style="text-align: center; line-height: 36px;">
            <span style="font-weight: 500; font-size: 30px;">{{ include.section.content }}</span>
          </p>
          <p>&nbsp;</p>
          <p style="text-align: center;">
            <a class="button-style1" href="{{ include.section.button_url }}">{{ include.section.button_text }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>